<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:image:width" content="279">
    <meta property="og:image:height" content="279">
    <meta property="og:title" content="Hannah D. Foster Photography">
    <meta property="og:description"
        content="Originally from North Carolina, Hannah Foster is a family and lifestyle photographer based in the Northern Virginia area. Hannah has had the passion for creativity and telling stories through art since before she can remember. She founded HDF Photography after working many years as an actress and performer. As a storyteller herself, she loves the opportunity to meet her clients and capture some of life's most beautiful moments. Whether you are engaged, a mother to-be, getting married, or gathering the family for portraits, she puts her heart and soul into crafting images that will be treasured for years to come. When she's not behind the camera, Hannah fills her time with her love for music, traveling abroad, and running.">
    <meta property="og:url" content="https://hannahdfoster.com/">
    <meta property="og:image" content="https://hannahdfoster.com/og-image/og-image.jpg">

    <link rel="apple-touch-icon" sizes="180x180" href="../../../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../favicon/favicon-16x16.png">
    <link rel="manifest" href="../../../favicon/site.webmanifest">
    <link rel="mask-icon" href="../../../favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" type="image/x-icon" href="../../../favicon/favicon.ico" />
    <link rel="image_src" href="https://hannahdfoster.com/og-image/og-image.jpg" />
    <link rel="canonical" href="https://hannahdfoster.com/" />

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "Person",
            "name": "Hannah D. Foster",
            "alternateName": "Hannah",
            "url": "https://hannahdfoster.com",
            "image": "https://hannahdfoster.com/assets/images/about.jpg",
            "sameAs": [
                "https://www.facebook.com/hannahdfoster",
                "https://twitter.com/hannahdfoster"
            ],
            "jobTitle": "Photographer",
            "worksFor": {
                "@type": "Organization",
                "name": "Hannah D. Foster Photography"
            }
        }
    </script>
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/ark0nna.css">
    <title>Hannah D. Foster Photography</title>
</head>

<body>
    <!-- Navigation Section | Top Part  -->

    <section id="nav" class="mt-5 mb-5">
        <h1 class="mt-2 mb-2">Hannah D. Foster Photography</h1>
        <hr>
        <ul class="nav justify-content-center mt-2">
            <li class="nav-item">
                <a class="nav-link" href="../../../">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../../index.html#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../../index.html#gallery">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../../index.html#contact">Contact</a>
            </li>
        </ul>
    </section>
    <div class="gallery">
        <img src="../../../assets/images/gallery3/engagement-wedding-portrait-dc-va-md-photographer (1).jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/engagement-wedding-portrait-dc-va-md-photographer (2).jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/engagement-wedding-portrait-dc-va-md-photographer (3).jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/engagement-wedding-portrait-dc-va-md-photographer (4).jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/engagement-wedding-portrait-dc-va-md-photographer (5).jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/engagement-wedding-portrait-dc-va-md-photographer (6).jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/engagement-wedding-portrait-dc-va-md-photographer (7).jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/engagement-wedding-portrait-dc-va-md-photographer (8).jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/engagement-wedding-portrait-dc-va-md-photographer (9).jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/engagement-wedding-portrait-dc-va-md-photographer (10).jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/engagement-wedding-portrait-dc-va-md-photographer (12).jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/engagement-wedding-portrait-dc-va-md-photographer (12).jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/engagement-wedding-portrait-dc-va-md-photographer (13).jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/engagement-wedding-portrait-dc-va-md-photographer (14).jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/engagement-wedding-portrait-dc-va-md-photographer (15).jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/engagement-wedding-portrait-dc-va-md-photographer (16).jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/engagement-wedding-portrait-dc-va-md-photographer (17).jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/engagement-wedding-portrait-dc-va-md-photographer (18).jpg" alt="" srcset="">
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../../assets/js/jquery.js"></script>
    <script src="../../../assets/js/popper.min.js"></script>
    <script src="../../../assets/js/bootstrap.min.js"></script>
    <!-- Optional JavaScript -->
    <script src="../../../assets/js/macy.js"></script>
    <script src="../../../assets/js/main.js"></script>
</body>

</html>