

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HDF Photography</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:image:width" content="279">
    <meta property="og:image:height" content="279">
    <meta property="og:title" content="Hannah D. Foster Photography">
    <meta property="og:description" content="Originally from North Carolina, Hannah Foster is a family and lifestyle photographer based in the Northern Virginia area. Hannah has had the passion for creativity and telling stories through art since before she can remember. She founded HDF Photography after working many years as an actress and performer. As a storyteller herself, she loves the opportunity to meet her clients and capture some of life's most beautiful moments. Whether you are engaged, a mother to-be, getting married, or gathering the family for portraits, she puts her heart and soul into crafting images that will be treasured for years to come. When she's not behind the camera, Hannah fills her time with her love for music, traveling abroad, and running.">
    <meta property="og:url" content="https://hannahdfoster.com/">
    <meta property="og:image" content="https://hannahdfoster.com/og-image/og-image.jpg">

    <link rel="apple-touch-icon" sizes="180x180" href="../../../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../favicon/favicon-16x16.png">
    <link rel="manifest" href="../../../favicon/site.webmanifest">
    <link rel="mask-icon" href="../../../favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" type="image/x-icon" href="../../../favicon/favicon.ico" />
    <link rel="image_src" href="https://hannahdfoster.com/og-image/og-image.jpg" />
    <link rel="canonical" href="https://hannahdfoster.com/" />

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../assets/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "Person",
            "name": "Hannah D. Foster",
            "alternateName": "Hannah",
            "url": "https://hannahdfoster.com",
            "image": "https://hannahdfoster.com/assets/images/about.jpg",
            "sameAs": [
                "https://www.facebook.com/hannahdfoster",
                "https://twitter.com/hannahdfoster"
            ],
            "jobTitle": "Photographer",
            "worksFor": {
                "@type": "Organization",
                "name": "Hannah D. Foster Photography"
            }
        }
    </script>
</head>

<body>
      <div class="navbar">
    <h1 id="typography">HANNAH D. FOSTER</h1>
    <hr>
    <div class="menubtn">
      <span>MENU <i class="fas fa-bars"></i></span>
    </div>
    <ul class="menu list">
        <li><a href="../../../">HOME</a></li>
        <li><a href="../../../views/pages/about/index.html">ABOUT</a></li>
        <li><a href="../../../views/pages/portfolio/index.html">PORTFOLIO</a></li>
        <li><a href="../../../views/pages/contact/index.html">CONTACT</a></li>
      </ul>
  </div>

    <div class="container contact">
        <form action="https://formspree.io/hdf.designs@gmail.com" method="POST">
            <div class="row">
                <div class="col">
                    <input type="text" name="name" class="form-control" placeholder="Full Name" maxlength="50" required>
                </div>
                <div class="col">
                    <input type="email" name="_replyto" class="form-control" placeholder="Email" maxlength="25" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" name="subject" class="form-control" placeholder="Subject" maxlength="100">
                </div>
                <!-- <div class="col">
                    <input type="tel" name="phone" class="form-control" placeholder="Phone Number" maxlength="10">
                </div> -->
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <textarea type="text" name="message" rows="10" cols="50" class="form-control" placeholder="Message" maxlength="500" required></textarea>
                </div>
            </div>
            <br>
            <input type="submit" class="form-control" value="Send">
        </form>
    </div>
    <div class="footer">
    <ul>
        <li><a href="https://www.facebook.com/hannahdfoster" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/hdfdesigns/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
        <li><a href="mailto:hdf.designs@gmail.com" target="_blank" rel="noopener noreferrer"><i class="far fa-envelope"></i></a></li>
        <!-- <li><a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-mobile-alt"></i></a></li> -->
    </ul>
    <div><p style="text-align: center; font-size:10px;">All Images &copy; 2019 Hannah D. Foster Photography</p></div>
</div>
<script src="../../../assets/scripts/jquery.js"></script>
<script src="../../../assets/scripts/popper.min.js"></script>
<script src="../../../assets/scripts/bootstrap.min.js"></script>
<script src="../../../assets/scripts/macy.js"></script>
<script src="../../../assets/scripts/main.js"></script>
</body>

</html>