

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HDF Photography</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../assets/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
      <div class="navbar">
    <h1 id="typography">HANNAH D. FOSTER</h1>
    <hr>
    <div class="menubtn">
      <span>MENU <i class="fas fa-bars"></i></span>
    </div>
    <ul class="menu list">
        <li><a href="../../../">HOME</a></li>
        <li><a href="../../../views/pages/about/index.html">ABOUT</a></li>
        <li><a href="../../../views/pages/portfolio/index.html">PORTFOLIO</a></li>
        <li><a href="../../../views/pages/contact/index.html">CONTACT</a></li>
      </ul>
  </div>

    <div class="container contact">
        <form action="https://formspree.io/hdf.designs@gmail.com" method="POST">
            <div class="row">
                <div class="col">
                    <input type="text" name="name" class="form-control" placeholder="Full Name" maxlength="50" required>
                </div>
                <div class="col">
                    <input type="email" name="_replyto" class="form-control" placeholder="Email" maxlength="25" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" name="subject" class="form-control" placeholder="Subject" maxlength="100">
                </div>
                <!-- <div class="col">
                    <input type="tel" name="phone" class="form-control" placeholder="Phone Number" maxlength="10">
                </div> -->
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <textarea type="text" name="message" rows="10" cols="50" class="form-control" placeholder="Message" maxlength="500" required></textarea>
                </div>
            </div>
            <br>
            <input type="submit" class="form-control" value="Send">
        </form>
    </div>
    <div class="footer">
    <ul>
        <li><a href="https://www.facebook.com/hannahdfoster" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/hdfdesigns/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
        <li><a href="mailto:hdf.designs@gmail.com" target="_blank" rel="noopener noreferrer"><i class="far fa-envelope"></i></a></li>
        <!-- <li><a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-mobile-alt"></i></a></li> -->
    </ul>
    <div><p style="text-align: center; font-size:10px;">All Images &copy; 2019 Hannah D. Foster Photography</p></div>
</div>
<script src="../../../assets/scripts/jquery.js"></script>
<script src="../../../assets/scripts/popper.min.js"></script>
<script src="../../../assets/scripts/bootstrap.min.js"></script>
<script src="../../../assets/scripts/macy.js"></script>
<script src="../../../assets/scripts/main.js"></script>
</body>

</html>