<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HDF Photography</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../assets/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
      <div class="navbar">
    <h1 id="typography">HANNAH D. FOSTER</h1>
    <hr>
    <div class="menubtn">
      <span>MENU <i class="fas fa-bars"></i></span>
    </div>
    <ul class="menu list">
        <li><a href="../../../">HOME</a></li>
        <li><a href="../../../views/pages/about/index.html">ABOUT</a></li>
        <li><a href="../../../views/pages/portfolio/index.html">PORTFOLIO</a></li>
        <li><a href="../../../views/pages/contact/index.html">CONTACT</a></li>
    </ul>
  </div>

    <div class="container">
        <div id="portfolio">
            <h4>Family</h4>
            <div id="family">
                <img src="../../../assets/images/family/alexandria-va-family-photographer (1).jpg" alt="">
                <img src="../../../assets/images/family/alexandria-va-family-photographer (2).jpg" alt="">
                <img src="../../../assets/images/family/alexandria-va-family-photographer (3).jpg" alt="">
                <img src="../../../assets/images/family/dc-baby-family-portraits (1).jpg" alt="">
                <img src="../../../assets/images/family/dc-baby-family-portraits (12).jpg" alt="" srcset="">
                <img src="../../../assets/images/family/dc-baby-family-portraits (13).jpg" alt="">
                <img src="../../../assets/images/family/dc-baby-family-portraits (20).jpg" alt="">
                <img src="../../../assets/images/family/dc-baby-family-portraits (22).jpg" alt="">
                <img src="../../../assets/images/family/dmv-family-portraits (1).jpg" alt="">
                <img src="../../../assets/images/family/dmv-family-portraits (2).jpg" alt="">
                <img src="../../../assets/images/family/dmv-family-portraits (3).jpg" alt="">
                <img src="../../../assets/images/family/families-dc-portraits (1).jpg" alt="">
                <img src="../../../assets/images/family/families-dc-portraits (2).jpg" alt="">
                <img src="../../../assets/images/family/families-dc-portraits (3).jpg" alt="">
                <img src="../../../assets/images/family/kids-family-dc-photographer  (2).jpg" alt="">
                <img src="../../../assets/images/family/kids-family-dc-photographer (3).jpg" alt="">
                <img src="../../../assets/images/family/kids-family-dc-photographer (4).jpg" alt="">
                <br>
            </div>
            <h4>Love</h4>
            <br>
            <div id="love">
                <img src="../../../assets/images/love/engagement-wedding-portrait-dc-va-md-photographer (1).jpg" alt="">
                <img src="../../../assets/images/love/engagement-wedding-portrait-dc-va-md-photographer (2).jpg" alt="">
                <img src="../../../assets/images/love/engagement-wedding-portrait-dc-va-md-photographer (3).jpg" alt="">
                <img src="../../../assets/images/love/engagement-wedding-portrait-dc-va-md-photographer (4).jpg" alt="">
                <img src="../../../assets/images/love/engagement-wedding-portrait-dc-va-md-photographer (5).jpg" alt="">
                <img src="../../../assets/images/love/engagement-wedding-portrait-dc-va-md-photographer (6).jpg" alt="">
                <img src="../../../assets/images/love/engagement-wedding-portrait-dc-va-md-photographer (7).jpg" alt="">
                <img src="../../../assets/images/love/engagement-wedding-portrait-dc-va-md-photographer (8).jpg" alt="">
                <img src="../../../assets/images/love/engagement-wedding-portrait-dc-va-md-photographer (9).jpg" alt="">
                <img src="../../../assets/images/love/engagement-wedding-portrait-dc-va-md-photographer (10).jpg" alt="">
                <img src="../../../assets/images/love/engagement-wedding-portrait-dc-va-md-photographer (11).jpg" alt="">
                <img src="../../../assets/images/love/engagement-wedding-portrait-dc-va-md-photographer (12).jpg" alt="">
                <img src="../../../assets/images/love/engagement-wedding-portrait-dc-va-md-photographer (13).jpg" alt="">
                <img src="../../../assets/images/love/engagement-wedding-portrait-dc-va-md-photographer (14).jpg" alt="">
                <img src="../../../assets/images/love/engagement-wedding-portrait-dc-va-md-photographer (15).jpg" alt="">
                <img src="../../../assets/images/love/engagement-wedding-portrait-dc-va-md-photographer (16).jpg" alt="">
                <img src="../../../assets/images/love/engagement-wedding-portrait-dc-va-md-photographer (17).jpg" alt="">
                <img src="../../../assets/images/love/engagement-wedding-portrait-dc-va-md-photographer (18).jpg" alt="">
            </div>
            <h4>Portrait</h4>
            <br>
            <div id="portrait">
                <img src="../../../assets/images/portrait/actors-headshot-portrait-dc-photographer (1).jpg" alt="">
                <img src="../../../assets/images/portrait/actors-headshot-portrait-dc-photographer (2).jpg" alt="">
                <img src="../../../assets/images/portrait/actors-headshot-portrait-dc-photographer (3).jpg" alt="">
                <img src="../../../assets/images/portrait/actors-headshot-portrait-dc-photographer (4).jpg" alt="">
                <img src="../../../assets/images/portrait/actors-headshot-portrait-dc-photographer (5).jpg" alt="">
                <img src="../../../assets/images/portrait/actors-headshot-portrait-dc-photographer (6).jpg" alt="">
            </div>
        </div>
    </div>
    <div class="footer">
    <ul>
        <li><a href="https://www.facebook.com/hannahdfoster" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/hdfdesigns/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
        <li><a href="mailto:hdf.designs@gmail.com" target="_blank" rel="noopener noreferrer"><i class="far fa-envelope"></i></a></li>
        <!-- <li><a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-mobile-alt"></i></a></li> -->
    </ul>
    <div><p style="text-align: center; font-size:10px;">All Images &copy; 2019 Hannah D. Foster Photography</p></div>
</div>    
    <script src="../../../assets/scripts/jquery.js"></script>
    <script src="../../../assets/scripts/popper.min.js"></script>
    <script src="../../../assets/scripts/bootstrap.min.js"></script>
    <script src="../../../assets/scripts/macy.js"></script>
    <script src="../../../assets/scripts/main.js"></script>
</body>

</html>